@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Nabla&family=Sono:wght@300;600&display=swap");
/* prettier-ignore */
body {
  background-color: crimson;
  min-height: 100vh;
  font-family: "Sono", Courier, monospace;
  font-size: 1em;
  line-height: 1.5em;
  letter-spacing: -0.1ch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Nabla, sans-serif;
}

h1 {
  font-size: 4.34rem;
  line-height: 5.84rem;
}

h2 {
  font-size: 3.68rem;
  line-height: 5.18rem;
}

h3 {
  font-size: 3.02rem;
  line-height: 4.52rem;
}

h4 {
  font-size: 2.36rem;
  line-height: 3.86rem;
}

h5 {
  font-size: 1.7rem;
  line-height: 3.2rem;
}

h6 {
  font-size: 1.04rem;
  line-height: 2.54rem;
}

a {
  color: azure;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  text-decoration-line: overline underline;
  text-decoration-style: dotted;
  text-decoration-color: tomato;
  color: tomato;
  -moz-text-decoration-style: dotted;
  text-decoration-thickness: 1px;
}

.socialmedia {
  list-style: none;
  font-size: 10pt;
}

.portfolio {
  margin: 1.5rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.portfolio__header {
  text-align: center;
  margin: 2rem auto;
}
.portfolio__header__title {
  margin-bottom: 6pt;
  font-size: 6em;
}
.portfolio__header__lead strong {
  text-shadow: 2px 2px #aaa;
}
.portfolio__main {
  max-width: 720px;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: azure;
  border-radius: 1rem;
  -webkit-box-shadow: inset 5px 5px 5px -2px white, inset -5px -5px 5px -2px rosybrown, 0 0 30px -8px azure, 8px 8px 32px -2px darkred;
          box-shadow: inset 5px 5px 5px -2px white, inset -5px -5px 5px -2px rosybrown, 0 0 30px -8px azure, 8px 8px 32px -2px darkred;
  font-size: 11pt;
}
.portfolio__content {
  padding: 1em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.portfolio__content p {
  margin-bottom: 11pt;
}
.portfolio__picto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 200px;
  padding: 1rem;
}
.portfolio a {
  color: crimson;
}
.portfolio__footer {
  padding-left: 50%;
}/*# sourceMappingURL=index.css.map */